body {
	font-family: arial;
}
#content {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	background: #fff;
	border: 1px solid #000;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 5px 10px;
}

h1 {
	margin-top: 0px;
}

#file_form input {
	border: 1px solid;
	padding: 4px;
	width: 100%;
}

#upload_stats {
	margin-left: 15px;
	margin-top: 10px;
}

textarea {
	width: 100%;
	height: 125px;
}

#description_form input {
	margin-top: 10px;
}

span.success {
	line-height: 16px;
	color: #777;
}